.info,
nav {
    display: flex;
    justify-content: center
}

html,
nav {
    width: 100%
}

.info,
.navbar,
a,
nav,
ul {
    display: flex
}

a,
h2 {
    color: #fff
}

.pie-wrapper .pie,
.pie-wrapper .pie .half-circle {
    left: 0;
    top: 0;
    position: absolute
}

#ui .text,
.box .imgbox,
.pie-wrapper .label,
.pie-wrapper .pie,
nav {
    position: absolute
}

#ui .text,
.animation,
.avatar {
    overflow: hidden
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace
}

.description,
.navbar,
a,
html {
    font-family: Dosis, sans-serif
}

html {
    background-color: #000;
    height: 100%
}

.header {
    background-color: #fff;
    background-image: linear-gradient(180deg, #fff 92%, #000 100%)
}

nav {
    z-index: 1
}

.navbar {
    align-items: center;
    background-color: rgba(0, 0, 0, .787);
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    width: 90%
}

#contact,
.container {
    background-color: #000
}

a {
    justify-content: space-around;
    text-decoration: none;
    text-decoration-color: #af2897
}

a:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    color: #b4286c;
    text-shadow: -1px 4px 8px #da28e5
}

ul {
    justify-content: space-around
}

li {
    list-style-type: none;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace
}

#ui .text,
h2 {
    font-family: Anton, sans-serif
}

.info {
    align-items: center
}

.set-size,
h2 {
    display: flex;
    justify-content: center
}

h2 {
    font-size: 6rem;
    text-shadow: 2px 2px 9px #da28e5
}

.description {
    color: #fff;
    font-size: 2rem;
    width: 50%
}

.title,
.title1 {
    color: transparent;
    font-size: 90px;
    font-weight: 200;
    position: relative;
    text-align: center;
    line-height: 9rem;
    letter-spacing: -8px
}

@keyframes float {
    0% {
        box-shadow: 0 5px 1 #dc28e5c0;
        transform: translatey(0)
    }

    50% {
        box-shadow: 0 25px 15px 0 #dc28e548;
        transform: translatey(-20px)
    }

    100% {
        box-shadow: 0 5px 15px 0 #dc28e551;
        transform: translatey(0)
    }
}

.avatar {
    width: 19rem;
    height: 20rem;
    box-sizing: content-box;
    border-radius: 20%;
    box-shadow: 0 5px 15px 0 #dc28e54b;
    transform: translatey(0);
    animation: 6s ease-in-out infinite float;
    margin-left: 10px;
}

.container,
.pie-wrapper .pie,
.pie-wrapper .shadow,
img {
    height: 100%;
    width: 100%;

}

*,
.box .imgbox,
:after,
:before {
    box-sizing: border-box
}

@mixin center() {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%
}

.container {
    margin: 0;
    font-family: Raleway, sans-serif
}

.pie-wrapper.style-2 .label,
.title,
.title1,
.title3 {
    font-family: Dosis, sans-serif
}

.title {
    background: url(./imagenes/pawel-czerwinski-Z06Aa4W20fY-unsplash.jpg) 0 200%;
    -webkit-background-clip: text;
    margin-top: 100px
}

.title1 {
    background: url(./imagenes/pawel-czerwinski-Z06Aa4W20fY-unsplash.jpg) 0 200%;
    -webkit-background-clip: text;
    margin-top: 120px
}

.subtitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px
}

.set-size {
    font-size: 10em
}

.animation,
.cards {
    display: flex;
    justify-content: center
}

.charts-container:after {
    clear: both;
    content: "";
    display: table
}

.pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 15px;
    position: relative
}

.pie-wrapper:nth-child(3n+1) {
    clear: both
}

.pie-wrapper .pie {
    clip: rect(0, 1em, 1em, .5em)
}

.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: .04em solid #3498db;
    border-radius: 50%;
    clip: rect(0, .5em, 1em, 0)
}

.pie-wrapper .label {
    background: #34495e;
    border-radius: 50%;
    bottom: .4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: .2em;
    left: .4em;
    line-height: 1.5em;
    right: .4em;
    text-align: center;
    top: 1em
}

.pie-wrapper .label .smaller {
    color: #fff;
    font-size: .45em;
    padding-bottom: 20px;
    vertical-align: super
}

.pie-wrapper .shadow {
    border: .04em solid #d8d1d1;
    border-radius: 50%
}

.pie-wrapper.style-2 .label {
    background: 0 0;
    color: #fff
}

.pie-wrapper.progress-60 .pie .half-circle,
.pie-wrapper.progress-90 .pie .half-circle,
.pie-wrapper.progress-95 .pie .half-circle {
    border-color: #da28e5
}

.pie-wrapper.progress-60 .pie .left-side {
    transform: rotate(216deg)
}

.pie-wrapper.progress-60 .pie .right-side,
.pie-wrapper.progress-90 .pie .right-side,
.pie-wrapper.progress-95 .pie .right-side {
    transform: rotate(180deg)
}

.pie-wrapper.progress-60 .pie,
.pie-wrapper.progress-90 .pie,
.pie-wrapper.progress-95 .pie {
    clip: rect(auto, auto, auto, auto)
}

.pie-wrapper.progress-90 .pie .left-side {
    transform: rotate(324deg)
}

.pie-wrapper.progress-95 .pie .left-side {
    transform: rotate(342deg)
}

.animation {
    height: 120vh;
    align-items: center;
    color: #fff
}

#ui {
    transform: rotateZ(-4deg);
    margin-bottom: 3rem
}

#ui .text {
    font-size: 8rem;
    color: #fff;
    line-height: 8rem;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    letter-spacing: 1rem
}

#ui .text:first-child {
    color: #7d28a7;
    -webkit-clip-path: polygon(-2% -5%, 10% -15%, 7% 54%, -2% 69%);
    clip-path: polygon(-2% -5%, 10% -15%, 7% 54%, -2% 69%);
    filter: blur(1px)
}

#ui .text:first-child .text_inner1 {
    -webkit-animation: 1328ms ease-in-out 17ms infinite alternate vertical;
    animation: 1328ms ease-in-out 17ms infinite alternate vertical
}

#ui .text:first-child .text_inner2 {
    -webkit-animation: 960ms ease-in-out 17ms infinite alternate horizontal;
    animation: 960ms ease-in-out 17ms infinite alternate horizontal
}

#ui .text:nth-child(2) {
    color: #c6285b;
    -webkit-clip-path: polygon(4% -3%, 15% -24%, 13% 51%, 3% 64%);
    clip-path: polygon(4% -3%, 15% -24%, 13% 51%, 3% 64%);
    filter: blur(8px)
}

#ui .text:nth-child(2) .text_inner1 {
    -webkit-animation: 1258ms ease-in-out 67ms infinite alternate vertical;
    animation: 1258ms ease-in-out 67ms infinite alternate vertical
}

#ui .text:nth-child(2) .text_inner2 {
    -webkit-animation: 1.44s ease-in-out 51ms infinite alternate horizontal;
    animation: 1.44s ease-in-out 51ms infinite alternate horizontal
}

#ui .text:nth-child(3) {
    color: #a1289e;
    -webkit-clip-path: polygon(9% -2%, 17% -11%, 18% 51%, 8% 77%);
    clip-path: polygon(9% -2%, 17% -11%, 18% 51%, 8% 77%);
    filter: blur(-8px)
}

#ui .text:nth-child(3) .text_inner1 {
    -webkit-animation: 1656ms ease-in-out 63ms infinite alternate vertical;
    animation: 1656ms ease-in-out 63ms infinite alternate vertical
}

#ui .text:nth-child(3) .text_inner2 {
    -webkit-animation: 1291ms ease-in-out 43ms infinite alternate horizontal;
    animation: 1291ms ease-in-out 43ms infinite alternate horizontal
}

#ui .text:nth-child(4) {
    color: #982893;
    -webkit-clip-path: polygon(13% -4%, 24% -7%, 22% 51%, 13% 71%);
    clip-path: polygon(13% -4%, 24% -7%, 22% 51%, 13% 71%);
    filter: blur(-3px)
}

#ui .text:nth-child(4) .text_inner1 {
    -webkit-animation: 763ms ease-in-out 54ms infinite alternate vertical;
    animation: 763ms ease-in-out 54ms infinite alternate vertical
}

#ui .text:nth-child(4) .text_inner2 {
    -webkit-animation: 739ms ease-in-out 78ms infinite alternate horizontal;
    animation: 739ms ease-in-out 78ms infinite alternate horizontal
}

#ui .text:nth-child(5) {
    color: #6628c7;
    -webkit-clip-path: polygon(19% -5%, 27% -7%, 29% 53%, 18% 57%);
    clip-path: polygon(19% -5%, 27% -7%, 29% 53%, 18% 57%);
    filter: blur(-2px)
}

#ui .text:nth-child(5) .text_inner1 {
    -webkit-animation: 782ms ease-in-out 26ms infinite alternate vertical;
    animation: 782ms ease-in-out 26ms infinite alternate vertical
}

#ui .text:nth-child(5) .text_inner2 {
    -webkit-animation: 824ms ease-in-out 79ms infinite alternate horizontal;
    animation: 824ms ease-in-out 79ms infinite alternate horizontal
}

#ui .text:nth-child(6) {
    color: #9928d2;
    -webkit-clip-path: polygon(24% -5%, 34% -21%, 32% 55%, 23% 69%);
    clip-path: polygon(24% -5%, 34% -21%, 32% 55%, 23% 69%);
    filter: blur(6px)
}

#ui .text:nth-child(6) .text_inner1 {
    -webkit-animation: 906ms ease-in-out 78ms infinite alternate vertical;
    animation: 906ms ease-in-out 78ms infinite alternate vertical
}

#ui .text:nth-child(6) .text_inner2 {
    -webkit-animation: 1462ms ease-in-out 62ms infinite alternate horizontal;
    animation: 1462ms ease-in-out 62ms infinite alternate horizontal
}

#ui .text:nth-child(7) {
    color: #6928ba;
    -webkit-clip-path: polygon(29% -4%, 37% -25%, 36% 51%, 28% 65%);
    clip-path: polygon(29% -4%, 37% -25%, 36% 51%, 28% 65%);
    filter: blur(8px)
}

#ui .text:nth-child(7) .text_inner1 {
    -webkit-animation: 813ms ease-in-out 9ms infinite alternate vertical;
    animation: 813ms ease-in-out 9ms infinite alternate vertical
}

#ui .text:nth-child(7) .text_inner2 {
    -webkit-animation: 1166ms ease-in-out 30ms infinite alternate horizontal;
    animation: 1166ms ease-in-out 30ms infinite alternate horizontal
}

#ui .text:nth-child(8) {
    color: #b4289d;
    -webkit-clip-path: polygon(34% -5%, 44% -24%, 45% 55%, 33% 74%);
    clip-path: polygon(34% -5%, 44% -24%, 45% 55%, 33% 74%);
    filter: blur(-8px)
}

#ui .text:nth-child(8) .text_inner1 {
    -webkit-animation: 1622ms ease-in-out 87ms infinite alternate vertical;
    animation: 1622ms ease-in-out 87ms infinite alternate vertical
}

#ui .text:nth-child(8) .text_inner2 {
    -webkit-animation: 1271ms ease-in-out 39ms infinite alternate horizontal;
    animation: 1271ms ease-in-out 39ms infinite alternate horizontal
}

#ui .text:nth-child(9) {
    color: #7628d2;
    -webkit-clip-path: polygon(38% -3%, 47% -14%, 47% 55%, 39% 52%);
    clip-path: polygon(38% -3%, 47% -14%, 47% 55%, 39% 52%);
    filter: blur(-3px)
}

#ui .text:nth-child(9) .text_inner1 {
    -webkit-animation: 1584ms ease-in-out 16ms infinite alternate vertical;
    animation: 1584ms ease-in-out 16ms infinite alternate vertical
}

#ui .text:nth-child(9) .text_inner2 {
    -webkit-animation: 1462ms ease-in-out 63ms infinite alternate horizontal;
    animation: 1462ms ease-in-out 63ms infinite alternate horizontal
}

#ui .text:nth-child(10) {
    color: #5a28bd;
    -webkit-clip-path: polygon(44% -1%, 53% -16%, 53% 51%, 43% 80%);
    clip-path: polygon(44% -1%, 53% -16%, 53% 51%, 43% 80%);
    filter: blur(-2px)
}

#ui .text:nth-child(10) .text_inner1 {
    -webkit-animation: 1558ms ease-in-out 32ms infinite alternate vertical;
    animation: 1558ms ease-in-out 32ms infinite alternate vertical
}

#ui .text:nth-child(10) .text_inner2 {
    -webkit-animation: 986ms ease-in-out 46ms infinite alternate horizontal;
    animation: 986ms ease-in-out 46ms infinite alternate horizontal
}

#ui .text:nth-child(11) {
    color: #822866;
    -webkit-clip-path: polygon(49% -3%, 58% -4%, 58% 55%, 48% 79%);
    clip-path: polygon(49% -3%, 58% -4%, 58% 55%, 48% 79%);
    filter: blur(7px)
}

#ui .text:nth-child(11) .text_inner1 {
    -webkit-animation: 996ms ease-in-out 65ms infinite alternate vertical;
    animation: 996ms ease-in-out 65ms infinite alternate vertical
}

#ui .text:nth-child(11) .text_inner2 {
    -webkit-animation: 1056ms ease-in-out 92ms infinite alternate horizontal;
    animation: 1056ms ease-in-out 92ms infinite alternate horizontal
}

#ui .text:nth-child(12) {
    color: #7c28a5;
    -webkit-clip-path: polygon(53% -1%, 63% -18%, 61% 55%, 53% 52%);
    clip-path: polygon(53% -1%, 63% -18%, 61% 55%, 53% 52%);
    filter: blur(-5px)
}

#ui .text:nth-child(12) .text_inner1 {
    -webkit-animation: 1546ms ease-in-out 63ms infinite alternate vertical;
    animation: 1546ms ease-in-out 63ms infinite alternate vertical
}

#ui .text:nth-child(12) .text_inner2 {
    -webkit-animation: 817ms ease-in-out 19ms infinite alternate horizontal;
    animation: 817ms ease-in-out 19ms infinite alternate horizontal
}

#ui .text:nth-child(13) {
    color: #5a28be;
    -webkit-clip-path: polygon(58% -1%, 66% -10%, 66% 52%, 59% 73%);
    clip-path: polygon(58% -1%, 66% -10%, 66% 52%, 59% 73%);
    filter: blur(-4px)
}

#ui .text:nth-child(13) .text_inner1 {
    -webkit-animation: 781ms ease-in-out 17ms infinite alternate vertical;
    animation: 781ms ease-in-out 17ms infinite alternate vertical
}

#ui .text:nth-child(13) .text_inner2 {
    -webkit-animation: 1587ms ease-in-out 37ms infinite alternate horizontal;
    animation: 1587ms ease-in-out 37ms infinite alternate horizontal
}

#ui .text:nth-child(14) {
    color: #452881;
    -webkit-clip-path: polygon(63% -4%, 71% -19%, 72% 55%, 63% 57%);
    clip-path: polygon(63% -4%, 71% -19%, 72% 55%, 63% 57%);
    filter: blur(-2px)
}

#ui .text:nth-child(14) .text_inner1 {
    -webkit-animation: 1394ms ease-in-out 48ms infinite alternate vertical;
    animation: 1394ms ease-in-out 48ms infinite alternate vertical
}

#ui .text:nth-child(14) .text_inner2 {
    -webkit-animation: 814ms ease-in-out 75ms infinite alternate horizontal;
    animation: 814ms ease-in-out 75ms infinite alternate horizontal
}

#ui .text:nth-child(15) {
    color: #9928aa;
    -webkit-clip-path: polygon(68% -1%, 77% -9%, 77% 51%, 68% 52%);
    clip-path: polygon(68% -1%, 77% -9%, 77% 51%, 68% 52%);
    filter: blur(-2px)
}

#ui .text:nth-child(15) .text_inner1 {
    -webkit-animation: 1406ms ease-in-out 18ms infinite alternate vertical;
    animation: 1406ms ease-in-out 18ms infinite alternate vertical
}

#ui .text:nth-child(15) .text_inner2 {
    -webkit-animation: 1213ms ease-in-out 20ms infinite alternate horizontal;
    animation: 1213ms ease-in-out 20ms infinite alternate horizontal
}

#ui .text:nth-child(16) {
    color: #3c28fd;
    -webkit-clip-path: polygon(74% -3%, 83% -6%, 81% 55%, 73% 56%);
    clip-path: polygon(74% -3%, 83% -6%, 81% 55%, 73% 56%);
    filter: blur(0px)
}

#ui .text:nth-child(16) .text_inner1 {
    -webkit-animation: 1254ms ease-in-out 14ms infinite alternate vertical;
    animation: 1254ms ease-in-out 14ms infinite alternate vertical
}

#ui .text:nth-child(16) .text_inner2 {
    -webkit-animation: 1196ms ease-in-out 75ms infinite alternate horizontal;
    animation: 1196ms ease-in-out 75ms infinite alternate horizontal
}

#ui .text:nth-child(17) {
    color: #d9286d;
    -webkit-clip-path: polygon(79% -5%, 90% -18%, 90% 51%, 78% 70%);
    clip-path: polygon(79% -5%, 90% -18%, 90% 51%, 78% 70%);
    filter: blur(8px)
}

#ui .text:nth-child(17) .text_inner1 {
    -webkit-animation: 1.25s ease-in-out 66ms infinite alternate vertical;
    animation: 1.25s ease-in-out 66ms infinite alternate vertical
}

#ui .text:nth-child(17) .text_inner2 {
    -webkit-animation: 1.52s ease-in-out 95ms infinite alternate horizontal;
    animation: 1.52s ease-in-out 95ms infinite alternate horizontal
}

#ui .text:nth-child(18) {
    color: #5228fa;
    -webkit-clip-path: polygon(83% -4%, 94% -13%, 92% 54%, 84% 65%);
    clip-path: polygon(83% -4%, 94% -13%, 92% 54%, 84% 65%);
    filter: blur(-8px)
}

#ui .text:nth-child(18) .text_inner1 {
    -webkit-animation: 1579ms ease-in-out 68ms infinite alternate vertical;
    animation: 1579ms ease-in-out 68ms infinite alternate vertical
}

#ui .text:nth-child(18) .text_inner2 {
    -webkit-animation: 1631ms ease-in-out 94ms infinite alternate horizontal;
    animation: 1631ms ease-in-out 94ms infinite alternate horizontal
}

#ui .text:nth-child(19) {
    color: #ba28d6;
    -webkit-clip-path: polygon(88% -1%, 99% -1%, 100% 53%, 89% 67%);
    clip-path: polygon(88% -1%, 99% -1%, 100% 53%, 89% 67%);
    filter: blur(-6px)
}

#ui .text:nth-child(19) .text_inner1 {
    -webkit-animation: 790ms ease-in-out 74ms infinite alternate vertical;
    animation: 790ms ease-in-out 74ms infinite alternate vertical
}

#ui .text:nth-child(19) .text_inner2 {
    -webkit-animation: 1172ms ease-in-out 30ms infinite alternate horizontal;
    animation: 1172ms ease-in-out 30ms infinite alternate horizontal
}

#ui .text:nth-child(20) {
    color: #b5285a;
    -webkit-clip-path: polygon(94% -2%, 105% -3%, 104% 51%, 94% 74%);
    clip-path: polygon(94% -2%, 105% -3%, 104% 51%, 94% 74%);
    filter: blur(-5px)
}

#ui .text:nth-child(20) .text_inner1 {
    -webkit-animation: 1405ms ease-in-out 95ms infinite alternate vertical;
    animation: 1405ms ease-in-out 95ms infinite alternate vertical
}

#ui .text:nth-child(20) .text_inner2 {
    -webkit-animation: 1276ms ease-in-out 98ms infinite alternate horizontal;
    animation: 1276ms ease-in-out 98ms infinite alternate horizontal
}

#ui .text:nth-child(21) {
    color: #af2897;
    -webkit-clip-path: polygon(-1% 48%, 6% 32%, 8% 104%, -2% 123%);
    clip-path: polygon(-1% 48%, 6% 32%, 8% 104%, -2% 123%);
    filter: blur(-8px)
}

#ui .text:nth-child(21) .text_inner1 {
    -webkit-animation: 1149ms ease-in-out 2ms infinite alternate vertical;
    animation: 1149ms ease-in-out 2ms infinite alternate vertical
}

#ui .text:nth-child(21) .text_inner2 {
    -webkit-animation: 777ms ease-in-out 42ms infinite alternate horizontal;
    animation: 777ms ease-in-out 42ms infinite alternate horizontal
}

#ui .text:nth-child(22) {
    color: #da28e5;
    -webkit-clip-path: polygon(4% 47%, 13% 39%, 14% 101%, 3% 109%);
    clip-path: polygon(4% 47%, 13% 39%, 14% 101%, 3% 109%);
    filter: blur(7px)
}

#ui .text:nth-child(22) .text_inner1 {
    -webkit-animation: 1206ms ease-in-out 6ms infinite alternate vertical;
    animation: 1206ms ease-in-out 6ms infinite alternate vertical
}

#ui .text:nth-child(22) .text_inner2 {
    -webkit-animation: 1295ms ease-in-out 82ms infinite alternate horizontal;
    animation: 1295ms ease-in-out 82ms infinite alternate horizontal
}

#ui .text:nth-child(23) {
    color: #4728e7;
    -webkit-clip-path: polygon(8% 47%, 18% 33%, 18% 105%, 8% 106%);
    clip-path: polygon(8% 47%, 18% 33%, 18% 105%, 8% 106%);
    filter: blur(-4px)
}

#ui .text:nth-child(23) .text_inner1 {
    -webkit-animation: 1288ms ease-in-out 13ms infinite alternate vertical;
    animation: 1288ms ease-in-out 13ms infinite alternate vertical
}

#ui .text:nth-child(23) .text_inner2 {
    -webkit-animation: 1065ms ease-in-out 34ms infinite alternate horizontal;
    animation: 1065ms ease-in-out 34ms infinite alternate horizontal
}

#ui .text:nth-child(24) {
    color: #f8286b;
    -webkit-clip-path: polygon(14% 45%, 23% 46%, 21% 105%, 13% 116%);
    clip-path: polygon(14% 45%, 23% 46%, 21% 105%, 13% 116%);
    filter: blur(7px)
}

#ui .text:nth-child(24) .text_inner1 {
    -webkit-animation: 857ms ease-in-out 13ms infinite alternate vertical;
    animation: 857ms ease-in-out 13ms infinite alternate vertical
}

#ui .text:nth-child(24) .text_inner2 {
    -webkit-animation: 1021ms ease-in-out 37ms infinite alternate horizontal;
    animation: 1021ms ease-in-out 37ms infinite alternate horizontal
}

#ui .text:nth-child(25) {
    color: #e12869;
    -webkit-clip-path: polygon(19% 46%, 29% 43%, 29% 103%, 19% 103%);
    clip-path: polygon(19% 46%, 29% 43%, 29% 103%, 19% 103%);
    filter: blur(-9px)
}

#ui .text:nth-child(25) .text_inner1 {
    -webkit-animation: 1671ms ease-in-out 38ms infinite alternate vertical;
    animation: 1671ms ease-in-out 38ms infinite alternate vertical
}

#ui .text:nth-child(25) .text_inner2 {
    -webkit-animation: 836ms ease-in-out 89ms infinite alternate horizontal;
    animation: 836ms ease-in-out 89ms infinite alternate horizontal
}

#ui .text:nth-child(26) {
    color: #702850;
    -webkit-clip-path: polygon(24% 45%, 35% 35%, 32% 101%, 24% 128%);
    clip-path: polygon(24% 45%, 35% 35%, 32% 101%, 24% 128%);
    filter: blur(-3px)
}

#ui .text:nth-child(26) .text_inner1 {
    -webkit-animation: 1598ms ease-in-out 85ms infinite alternate vertical;
    animation: 1598ms ease-in-out 85ms infinite alternate vertical
}

#ui .text:nth-child(26) .text_inner2 {
    -webkit-animation: 1044ms ease-in-out 13ms infinite alternate horizontal;
    animation: 1044ms ease-in-out 13ms infinite alternate horizontal
}

#ui .text:nth-child(27) {
    color: #fd2880;
    -webkit-clip-path: polygon(28% 45%, 38% 46%, 39% 104%, 28% 107%);
    clip-path: polygon(28% 45%, 38% 46%, 39% 104%, 28% 107%);
    filter: blur(0px)
}

#ui .text:nth-child(27) .text_inner1 {
    -webkit-animation: 940ms ease-in-out 50ms infinite alternate vertical;
    animation: 940ms ease-in-out 50ms infinite alternate vertical
}

#ui .text:nth-child(27) .text_inner2 {
    -webkit-animation: 898ms ease-in-out 45ms infinite alternate horizontal;
    animation: 898ms ease-in-out 45ms infinite alternate horizontal
}

#ui .text:nth-child(28) {
    color: #cd28d5;
    -webkit-clip-path: polygon(33% 49%, 44% 23%, 45% 104%, 33% 117%);
    clip-path: polygon(33% 49%, 44% 23%, 45% 104%, 33% 117%);
    filter: blur(-6px)
}

#ui .text:nth-child(28) .text_inner1 {
    -webkit-animation: 1239ms ease-in-out 45ms infinite alternate vertical;
    animation: 1239ms ease-in-out 45ms infinite alternate vertical
}

#ui .text:nth-child(28) .text_inner2 {
    -webkit-animation: 1104ms ease-in-out 95ms infinite alternate horizontal;
    animation: 1104ms ease-in-out 95ms infinite alternate horizontal
}

#ui .text:nth-child(29) {
    color: #4128b4;
    -webkit-clip-path: polygon(39% 47%, 46% 27%, 47% 105%, 39% 129%);
    clip-path: polygon(39% 47%, 46% 27%, 47% 105%, 39% 129%);
    filter: blur(-4px)
}

#ui .text:nth-child(29) .text_inner1 {
    -webkit-animation: 744ms ease-in-out 7ms infinite alternate vertical;
    animation: 744ms ease-in-out 7ms infinite alternate vertical
}

#ui .text:nth-child(29) .text_inner2 {
    -webkit-animation: 902ms ease-in-out 34ms infinite alternate horizontal;
    animation: 902ms ease-in-out 34ms infinite alternate horizontal
}

#ui .text:nth-child(30) {
    color: #74286a;
    -webkit-clip-path: polygon(43% 48%, 55% 29%, 54% 102%, 43% 117%);
    clip-path: polygon(43% 48%, 55% 29%, 54% 102%, 43% 117%);
    filter: blur(-4px)
}

#ui .text:nth-child(30) .text_inner1 {
    -webkit-animation: 1232ms ease-in-out 49ms infinite alternate vertical;
    animation: 1232ms ease-in-out 49ms infinite alternate vertical
}

#ui .text:nth-child(30) .text_inner2 {
    -webkit-animation: 929ms ease-in-out 53ms infinite alternate horizontal;
    animation: 929ms ease-in-out 53ms infinite alternate horizontal
}

#ui .text:nth-child(31) {
    color: #cc28e6;
    -webkit-clip-path: polygon(49% 47%, 58% 34%, 57% 102%, 48% 106%);
    clip-path: polygon(49% 47%, 58% 34%, 57% 102%, 48% 106%);
    filter: blur(6px)
}

#ui .text:nth-child(31) .text_inner1 {
    -webkit-animation: 1.57s ease-in-out 52ms infinite alternate vertical;
    animation: 1.57s ease-in-out 52ms infinite alternate vertical
}

#ui .text:nth-child(31) .text_inner2 {
    -webkit-animation: 1291ms ease-in-out 89ms infinite alternate horizontal;
    animation: 1291ms ease-in-out 89ms infinite alternate horizontal
}

#ui .text:nth-child(32) {
    color: #b4286c;
    -webkit-clip-path: polygon(54% 48%, 64% 37%, 65% 104%, 53% 103%);
    clip-path: polygon(54% 48%, 64% 37%, 65% 104%, 53% 103%);
    filter: blur(9px)
}

#ui .text:nth-child(32) .text_inner1 {
    -webkit-animation: 1574ms ease-in-out 51ms infinite alternate vertical;
    animation: 1574ms ease-in-out 51ms infinite alternate vertical
}

#ui .text:nth-child(32) .text_inner2 {
    -webkit-animation: 1492ms ease-in-out 17ms infinite alternate horizontal;
    animation: 1492ms ease-in-out 17ms infinite alternate horizontal
}

#ui .text:nth-child(33) {
    color: #cf28f5;
    -webkit-clip-path: polygon(58% 49%, 69% 40%, 66% 103%, 58% 118%);
    clip-path: polygon(58% 49%, 69% 40%, 66% 103%, 58% 118%);
    filter: blur(1px)
}

#ui .text:nth-child(33) .text_inner1 {
    -webkit-animation: 1264ms ease-in-out .1s infinite alternate vertical;
    animation: 1264ms ease-in-out .1s infinite alternate vertical
}

#ui .text:nth-child(33) .text_inner2 {
    -webkit-animation: 939ms ease-in-out 34ms infinite alternate horizontal;
    animation: 939ms ease-in-out 34ms infinite alternate horizontal
}

#ui .text:nth-child(34) {
    color: #e42845;
    -webkit-clip-path: polygon(64% 49%, 73% 45%, 75% 105%, 63% 127%);
    clip-path: polygon(64% 49%, 73% 45%, 75% 105%, 63% 127%);
    filter: blur(8px)
}

#ui .text:nth-child(34) .text_inner1 {
    -webkit-animation: 1583ms ease-in-out 55ms infinite alternate vertical;
    animation: 1583ms ease-in-out 55ms infinite alternate vertical
}

#ui .text:nth-child(34) .text_inner2 {
    -webkit-animation: 1668ms ease-in-out 96ms infinite alternate horizontal;
    animation: 1668ms ease-in-out 96ms infinite alternate horizontal
}

#ui .text:nth-child(35) {
    color: #632899;
    -webkit-clip-path: polygon(68% 49%, 79% 33%, 78% 103%, 69% 105%);
    clip-path: polygon(68% 49%, 79% 33%, 78% 103%, 69% 105%);
    filter: blur(3px)
}

#ui .text:nth-child(35) .text_inner1 {
    -webkit-animation: 1595ms ease-in-out 39ms infinite alternate vertical;
    animation: 1595ms ease-in-out 39ms infinite alternate vertical
}

#ui .text:nth-child(35) .text_inner2 {
    -webkit-animation: 961ms ease-in-out 8ms infinite alternate horizontal;
    animation: 961ms ease-in-out 8ms infinite alternate horizontal
}

#ui .text:nth-child(36) {
    color: #d6283c;
    -webkit-clip-path: polygon(73% 45%, 81% 49%, 83% 105%, 73% 121%);
    clip-path: polygon(73% 45%, 81% 49%, 83% 105%, 73% 121%);
    filter: blur(-5px)
}

#ui .text:nth-child(36) .text_inner1 {
    -webkit-animation: 732ms ease-in-out 73ms infinite alternate vertical;
    animation: 732ms ease-in-out 73ms infinite alternate vertical
}

#ui .text:nth-child(36) .text_inner2 {
    -webkit-animation: 1433ms ease-in-out 38ms infinite alternate horizontal;
    animation: 1433ms ease-in-out 38ms infinite alternate horizontal
}

#ui .text:nth-child(37) {
    color: #72283f;
    -webkit-clip-path: polygon(79% 46%, 87% 36%, 89% 102%, 78% 107%);
    clip-path: polygon(79% 46%, 87% 36%, 89% 102%, 78% 107%);
    filter: blur(-5px)
}

#ui .text:nth-child(37) .text_inner1 {
    -webkit-animation: 726ms ease-in-out 18ms infinite alternate vertical;
    animation: 726ms ease-in-out 18ms infinite alternate vertical
}

#ui .text:nth-child(37) .text_inner2 {
    -webkit-animation: 757ms ease-in-out 83ms infinite alternate horizontal;
    animation: 757ms ease-in-out 83ms infinite alternate horizontal
}

#ui .text:nth-child(38) {
    color: #cf2891;
    -webkit-clip-path: polygon(83% 49%, 92% 34%, 94% 103%, 84% 108%);
    clip-path: polygon(83% 49%, 92% 34%, 94% 103%, 84% 108%);
    filter: blur(-5px)
}

#ui .text:nth-child(38) .text_inner1 {
    -webkit-animation: 920ms ease-in-out 20ms infinite alternate vertical;
    animation: 920ms ease-in-out 20ms infinite alternate vertical
}

#ui .text:nth-child(38) .text_inner2 {
    -webkit-animation: 1383ms ease-in-out 47ms infinite alternate horizontal;
    animation: 1383ms ease-in-out 47ms infinite alternate horizontal
}

#ui .text:nth-child(39) {
    color: #ab2862;
    -webkit-clip-path: polygon(88% 47%, 99% 35%, 97% 103%, 89% 129%);
    clip-path: polygon(88% 47%, 99% 35%, 97% 103%, 89% 129%);
    filter: blur(-9px)
}

#ui .text:nth-child(39) .text_inner1 {
    -webkit-animation: 1337ms ease-in-out 98ms infinite alternate vertical;
    animation: 1337ms ease-in-out 98ms infinite alternate vertical
}

#ui .text:nth-child(39) .text_inner2 {
    -webkit-animation: 888ms ease-in-out 6ms infinite alternate horizontal;
    animation: 888ms ease-in-out 6ms infinite alternate horizontal
}

#ui .text:nth-child(40) {
    color: #aa28ac;
    -webkit-clip-path: polygon(93% 48%, 102% 24%, 105% 104%, 94% 108%);
    clip-path: polygon(93% 48%, 102% 24%, 105% 104%, 94% 108%);
    filter: blur(-3px)
}

#ui .text:nth-child(40) .text_inner1 {
    -webkit-animation: 1595ms ease-in-out 78ms infinite alternate vertical;
    animation: 1595ms ease-in-out 78ms infinite alternate vertical
}

#ui .text:nth-child(40) .text_inner2 {
    -webkit-animation: 1637ms ease-in-out 8ms infinite alternate horizontal;
    animation: 1637ms ease-in-out 8ms infinite alternate horizontal
}

#ui .text:nth-child(41) {
    color: #5e28bf;
    -webkit-clip-path: polygon(-2% 98%, 9% 99%, 7% 155%, -2% 158%);
    clip-path: polygon(-2% 98%, 9% 99%, 7% 155%, -2% 158%);
    filter: blur(9px)
}

#ui .text:nth-child(41) .text_inner1 {
    -webkit-animation: 1301ms ease-in-out 32ms infinite alternate vertical;
    animation: 1301ms ease-in-out 32ms infinite alternate vertical
}

#ui .text:nth-child(41) .text_inner2 {
    -webkit-animation: 1467ms ease-in-out 24ms infinite alternate horizontal;
    animation: 1467ms ease-in-out 24ms infinite alternate horizontal
}

@-webkit-keyframes horizontal {
    0% {
        transform: translateX(2px)
    }

    100% {
        transform: translateX(-2px)
    }
}

@keyframes horizontal {
    0% {
        transform: translateX(2px)
    }

    100% {
        transform: translateX(-2px)
    }
}

@-webkit-keyframes vertical {
    0% {
        transform: translateY(2px)
    }

    100% {
        transform: translateY(-2px)
    }
}

@keyframes vertical {
    0% {
        transform: translateY(2px)
    }

    100% {
        transform: translateY(-2px)
    }
}

@media (max-width:650px) {
    #ui .text {
        font-size: 4rem;
        line-height: 4rem
    }

    .set-size {
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }

    .info {
        display: unset
    }

    .description {
        width: auto;
        padding: 15px
    }

    .avatar {
        margin: auto
    }

}

.cards {
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    font-size: 15pt
}

.box,
.box .content {
    justify-content: center;
    transition: .5s;
    display: flex
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 0 40px 40px;
    background: #060c21
}

.box:hover {
    height: 400px
}

.box .imgbox {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px
}

.box:after,
.box:before {
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    position: absolute
}

.box .imgbox img {
    max-width: 100%;
    transition: .5s
}

.box:hover .content,
.box:hover .imgbox img {
    opacity: 1
}

.box:before {
    z-index: -1
}

.box:after {
    z-index: -2;
    filter: blur(40px)
}

.box:after,
.box:before {
    background: linear-gradient(235deg, #da28e5, #010615, #5a28be)
}

:after,
:before {
    background: linear-gradient(235deg, #822866, #015615, #2196f3)
}

.box .content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, .4);
    align-items: center;
    opacity: 0
}

.box .content h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px
}

.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px
}

.title3 {
    font-weight: 200;
    color: transparent;
    font-size: 90px;
    background: url(./imagenes/pawel-czerwinski-Z06Aa4W20fY-unsplash.jpg) 0 200%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 9rem;
    letter-spacing: -8px;
    margin-top: 60px
}

#contact {
    background-image: linear-gradient(180deg, #000 0, #fff 19%)
}

.img-contact {
    width: 10rem;
    height: 5rem;
    margin: 50px
}

.imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-8 23:41:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}