body {

    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Mono', monospace;


}

html {
    background-color: black;
    font-family: 'Dosis', sans-serif;
}

.header {

    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 92%, #000000 100%);

}


/*navbar*/

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.navbar {
    display: flex;

    align-items: center;
    background-color: rgba(0, 0, 0, 0.787);
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    font-family: 'Dosis', sans-serif;
    width: 90%;

}



a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    text-decoration-color: #af2897;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-family: 'Dosis', sans-serif;

}

a:hover {
    color: #b4286c;
    text-shadow: -1px 4px 8px rgba(218, 40, 229, 1);

}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;

}


/*ABOUT*/


.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-family: "Anton", sans-serif;
    color: white;
    text-shadow: 2px 2px 9px #DA28E5;

}

.description {
    color: white;
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    width: 50%;
}



@keyframes float {
    0% {
        box-shadow: 0 5px 1 #dc28e5c0;
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px #dc28e548;
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px #dc28e551;
        transform: translatey(0px);
    }
}



.avatar {
    width: 20rem;
    height: 20rem;
    box-sizing: content-box;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px #dc28e54b;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

img {
    width: 100%;
    height: 100%;
}

/*titles animations*/
@mixin center() {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

html {
    width: 100%;
    height: 100%;
}

.container {

    background-color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}



.title {
    font-weight: 200;
    color: transparent;
    font-size: 90px;
    background: url(./imagenes/pawel-czerwinski-Z06Aa4W20fY-unsplash.jpg) repeat;
    background-position: 0% 200%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 9rem;
    letter-spacing: -8px;
    margin-top: 100px;
    font-family: 'Dosis', sans-serif;
}

.title1 {
    font-weight: 200;
    color: transparent;
    font-size: 90px;
    background: url(./imagenes/pawel-czerwinski-Z06Aa4W20fY-unsplash.jpg) repeat;
    background-position: 0% 200%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 9rem;
    letter-spacing: -8px;
    margin-top: 120px;
    font-family: 'Dosis', sans-serif;
}

.subtitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
}

/*progres bar*/
@import url(https://fonts.googleapis.com/css?family=Lato:700);

*,
*:before,
*:after {
    box-sizing: border-box;
}



.set-size {
    display: flex;
    justify-content: center;
    font-size: 10em;
}

.charts-container:after {
    clear: both;
    content: "";
    display: table;
}

.pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 15px;
    position: relative;

}

.pie-wrapper:nth-child(3n+1) {
    clear: both;
}

.pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
}

.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.04em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}

.pie-wrapper .label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.20em;
    left: 0.4em;
    line-height: 1.5em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 1em;
}

.pie-wrapper .label .smaller {
    color: white;
    font-size: 0.45em;
    padding-bottom: 20px;
    vertical-align: super;
}

.pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.04em solid rgb(216, 209, 209);
    border-radius: 50%;
}

.pie-wrapper.style-2 .label {
    background: none;
    color: white;
    font-family: 'Dosis', sans-serif;
}




.pie-wrapper.progress-60 .pie .half-circle {
    border-color: #DA28E5;
}

.pie-wrapper.progress-60 .pie .left-side {
    transform: rotate(216deg);
}

.pie-wrapper.progress-60 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-90 .pie .half-circle {
    border-color: #DA28E5;
}

.pie-wrapper.progress-90 .pie .left-side {
    transform: rotate(324deg);
}

.pie-wrapper.progress-90 .pie .right-side {
    transform: rotate(180deg);
}

.pie-wrapper.progress-90 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie {
    clip: rect(auto, auto, auto, auto);
}

.pie-wrapper.progress-95 .pie .half-circle {
    border-color: #DA28E5;
}

.pie-wrapper.progress-95 .pie .left-side {
    transform: rotate(342deg);
}

.pie-wrapper.progress-95 .pie .right-side {
    transform: rotate(180deg);
}


/*animacion*/
.animation {
    height: 120vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#ui {
    transform: rotateZ(-4deg);
    margin-bottom: 3rem;

}

#ui .text {
    position: absolute;
    font-size: 8rem;
    color: #fff;
    line-height: 8rem;
    font-family: "Anton", sans-serif;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    letter-spacing: 1rem;
    overflow: hidden;
}

#ui .text:nth-child(1) {
    color: #7d28a7;
    -webkit-clip-path: polygon(-2% -5%, 10% -15%, 7% 54%, -2% 69%);
    clip-path: polygon(-2% -5%, 10% -15%, 7% 54%, -2% 69%);
    filter: blur(1px);
}

#ui .text:nth-child(1) .text_inner1 {
    -webkit-animation: vertical 1328ms 17ms ease-in-out infinite alternate;
    animation: vertical 1328ms 17ms ease-in-out infinite alternate;
}

#ui .text:nth-child(1) .text_inner2 {
    -webkit-animation: horizontal 960ms 17ms ease-in-out infinite alternate;
    animation: horizontal 960ms 17ms ease-in-out infinite alternate;
}

#ui .text:nth-child(2) {
    color: #c6285b;
    -webkit-clip-path: polygon(4% -3%, 15% -24%, 13% 51%, 3% 64%);
    clip-path: polygon(4% -3%, 15% -24%, 13% 51%, 3% 64%);
    filter: blur(8px);
}

#ui .text:nth-child(2) .text_inner1 {
    -webkit-animation: vertical 1258ms 67ms ease-in-out infinite alternate;
    animation: vertical 1258ms 67ms ease-in-out infinite alternate;
}

#ui .text:nth-child(2) .text_inner2 {
    -webkit-animation: horizontal 1440ms 51ms ease-in-out infinite alternate;
    animation: horizontal 1440ms 51ms ease-in-out infinite alternate;
}

#ui .text:nth-child(3) {
    color: #a1289e;
    -webkit-clip-path: polygon(9% -2%, 17% -11%, 18% 51%, 8% 77%);
    clip-path: polygon(9% -2%, 17% -11%, 18% 51%, 8% 77%);
    filter: blur(-8px);
}

#ui .text:nth-child(3) .text_inner1 {
    -webkit-animation: vertical 1656ms 63ms ease-in-out infinite alternate;
    animation: vertical 1656ms 63ms ease-in-out infinite alternate;
}

#ui .text:nth-child(3) .text_inner2 {
    -webkit-animation: horizontal 1291ms 43ms ease-in-out infinite alternate;
    animation: horizontal 1291ms 43ms ease-in-out infinite alternate;
}

#ui .text:nth-child(4) {
    color: #982893;
    -webkit-clip-path: polygon(13% -4%, 24% -7%, 22% 51%, 13% 71%);
    clip-path: polygon(13% -4%, 24% -7%, 22% 51%, 13% 71%);
    filter: blur(-3px);
}

#ui .text:nth-child(4) .text_inner1 {
    -webkit-animation: vertical 763ms 54ms ease-in-out infinite alternate;
    animation: vertical 763ms 54ms ease-in-out infinite alternate;
}

#ui .text:nth-child(4) .text_inner2 {
    -webkit-animation: horizontal 739ms 78ms ease-in-out infinite alternate;
    animation: horizontal 739ms 78ms ease-in-out infinite alternate;
}

#ui .text:nth-child(5) {
    color: #6628c7;
    -webkit-clip-path: polygon(19% -5%, 27% -7%, 29% 53%, 18% 57%);
    clip-path: polygon(19% -5%, 27% -7%, 29% 53%, 18% 57%);
    filter: blur(-2px);
}

#ui .text:nth-child(5) .text_inner1 {
    -webkit-animation: vertical 782ms 26ms ease-in-out infinite alternate;
    animation: vertical 782ms 26ms ease-in-out infinite alternate;
}

#ui .text:nth-child(5) .text_inner2 {
    -webkit-animation: horizontal 824ms 79ms ease-in-out infinite alternate;
    animation: horizontal 824ms 79ms ease-in-out infinite alternate;
}

#ui .text:nth-child(6) {
    color: #9928d2;
    -webkit-clip-path: polygon(24% -5%, 34% -21%, 32% 55%, 23% 69%);
    clip-path: polygon(24% -5%, 34% -21%, 32% 55%, 23% 69%);
    filter: blur(6px);
}

#ui .text:nth-child(6) .text_inner1 {
    -webkit-animation: vertical 906ms 78ms ease-in-out infinite alternate;
    animation: vertical 906ms 78ms ease-in-out infinite alternate;
}

#ui .text:nth-child(6) .text_inner2 {
    -webkit-animation: horizontal 1462ms 62ms ease-in-out infinite alternate;
    animation: horizontal 1462ms 62ms ease-in-out infinite alternate;
}

#ui .text:nth-child(7) {
    color: #6928ba;
    -webkit-clip-path: polygon(29% -4%, 37% -25%, 36% 51%, 28% 65%);
    clip-path: polygon(29% -4%, 37% -25%, 36% 51%, 28% 65%);
    filter: blur(8px);
}

#ui .text:nth-child(7) .text_inner1 {
    -webkit-animation: vertical 813ms 9ms ease-in-out infinite alternate;
    animation: vertical 813ms 9ms ease-in-out infinite alternate;
}

#ui .text:nth-child(7) .text_inner2 {
    -webkit-animation: horizontal 1166ms 30ms ease-in-out infinite alternate;
    animation: horizontal 1166ms 30ms ease-in-out infinite alternate;
}

#ui .text:nth-child(8) {
    color: #b4289d;
    -webkit-clip-path: polygon(34% -5%, 44% -24%, 45% 55%, 33% 74%);
    clip-path: polygon(34% -5%, 44% -24%, 45% 55%, 33% 74%);
    filter: blur(-8px);
}

#ui .text:nth-child(8) .text_inner1 {
    -webkit-animation: vertical 1622ms 87ms ease-in-out infinite alternate;
    animation: vertical 1622ms 87ms ease-in-out infinite alternate;
}

#ui .text:nth-child(8) .text_inner2 {
    -webkit-animation: horizontal 1271ms 39ms ease-in-out infinite alternate;
    animation: horizontal 1271ms 39ms ease-in-out infinite alternate;
}

#ui .text:nth-child(9) {
    color: #7628d2;
    -webkit-clip-path: polygon(38% -3%, 47% -14%, 47% 55%, 39% 52%);
    clip-path: polygon(38% -3%, 47% -14%, 47% 55%, 39% 52%);
    filter: blur(-3px);
}

#ui .text:nth-child(9) .text_inner1 {
    -webkit-animation: vertical 1584ms 16ms ease-in-out infinite alternate;
    animation: vertical 1584ms 16ms ease-in-out infinite alternate;
}

#ui .text:nth-child(9) .text_inner2 {
    -webkit-animation: horizontal 1462ms 63ms ease-in-out infinite alternate;
    animation: horizontal 1462ms 63ms ease-in-out infinite alternate;
}

#ui .text:nth-child(10) {
    color: #5a28bd;
    -webkit-clip-path: polygon(44% -1%, 53% -16%, 53% 51%, 43% 80%);
    clip-path: polygon(44% -1%, 53% -16%, 53% 51%, 43% 80%);
    filter: blur(-2px);
}

#ui .text:nth-child(10) .text_inner1 {
    -webkit-animation: vertical 1558ms 32ms ease-in-out infinite alternate;
    animation: vertical 1558ms 32ms ease-in-out infinite alternate;
}

#ui .text:nth-child(10) .text_inner2 {
    -webkit-animation: horizontal 986ms 46ms ease-in-out infinite alternate;
    animation: horizontal 986ms 46ms ease-in-out infinite alternate;
}

#ui .text:nth-child(11) {
    color: #822866;
    -webkit-clip-path: polygon(49% -3%, 58% -4%, 58% 55%, 48% 79%);
    clip-path: polygon(49% -3%, 58% -4%, 58% 55%, 48% 79%);
    filter: blur(7px);
}

#ui .text:nth-child(11) .text_inner1 {
    -webkit-animation: vertical 996ms 65ms ease-in-out infinite alternate;
    animation: vertical 996ms 65ms ease-in-out infinite alternate;
}

#ui .text:nth-child(11) .text_inner2 {
    -webkit-animation: horizontal 1056ms 92ms ease-in-out infinite alternate;
    animation: horizontal 1056ms 92ms ease-in-out infinite alternate;
}

#ui .text:nth-child(12) {
    color: #7c28a5;
    -webkit-clip-path: polygon(53% -1%, 63% -18%, 61% 55%, 53% 52%);
    clip-path: polygon(53% -1%, 63% -18%, 61% 55%, 53% 52%);
    filter: blur(-5px);
}

#ui .text:nth-child(12) .text_inner1 {
    -webkit-animation: vertical 1546ms 63ms ease-in-out infinite alternate;
    animation: vertical 1546ms 63ms ease-in-out infinite alternate;
}

#ui .text:nth-child(12) .text_inner2 {
    -webkit-animation: horizontal 817ms 19ms ease-in-out infinite alternate;
    animation: horizontal 817ms 19ms ease-in-out infinite alternate;
}

#ui .text:nth-child(13) {
    color: #5a28be;
    -webkit-clip-path: polygon(58% -1%, 66% -10%, 66% 52%, 59% 73%);
    clip-path: polygon(58% -1%, 66% -10%, 66% 52%, 59% 73%);
    filter: blur(-4px);
}

#ui .text:nth-child(13) .text_inner1 {
    -webkit-animation: vertical 781ms 17ms ease-in-out infinite alternate;
    animation: vertical 781ms 17ms ease-in-out infinite alternate;
}

#ui .text:nth-child(13) .text_inner2 {
    -webkit-animation: horizontal 1587ms 37ms ease-in-out infinite alternate;
    animation: horizontal 1587ms 37ms ease-in-out infinite alternate;
}

#ui .text:nth-child(14) {
    color: #452881;
    -webkit-clip-path: polygon(63% -4%, 71% -19%, 72% 55%, 63% 57%);
    clip-path: polygon(63% -4%, 71% -19%, 72% 55%, 63% 57%);
    filter: blur(-2px);
}

#ui .text:nth-child(14) .text_inner1 {
    -webkit-animation: vertical 1394ms 48ms ease-in-out infinite alternate;
    animation: vertical 1394ms 48ms ease-in-out infinite alternate;
}

#ui .text:nth-child(14) .text_inner2 {
    -webkit-animation: horizontal 814ms 75ms ease-in-out infinite alternate;
    animation: horizontal 814ms 75ms ease-in-out infinite alternate;
}

#ui .text:nth-child(15) {
    color: #9928aa;
    -webkit-clip-path: polygon(68% -1%, 77% -9%, 77% 51%, 68% 52%);
    clip-path: polygon(68% -1%, 77% -9%, 77% 51%, 68% 52%);
    filter: blur(-2px);
}

#ui .text:nth-child(15) .text_inner1 {
    -webkit-animation: vertical 1406ms 18ms ease-in-out infinite alternate;
    animation: vertical 1406ms 18ms ease-in-out infinite alternate;
}

#ui .text:nth-child(15) .text_inner2 {
    -webkit-animation: horizontal 1213ms 20ms ease-in-out infinite alternate;
    animation: horizontal 1213ms 20ms ease-in-out infinite alternate;
}

#ui .text:nth-child(16) {
    color: #3c28fd;
    -webkit-clip-path: polygon(74% -3%, 83% -6%, 81% 55%, 73% 56%);
    clip-path: polygon(74% -3%, 83% -6%, 81% 55%, 73% 56%);
    filter: blur(0px);
}

#ui .text:nth-child(16) .text_inner1 {
    -webkit-animation: vertical 1254ms 14ms ease-in-out infinite alternate;
    animation: vertical 1254ms 14ms ease-in-out infinite alternate;
}

#ui .text:nth-child(16) .text_inner2 {
    -webkit-animation: horizontal 1196ms 75ms ease-in-out infinite alternate;
    animation: horizontal 1196ms 75ms ease-in-out infinite alternate;
}

#ui .text:nth-child(17) {
    color: #d9286d;
    -webkit-clip-path: polygon(79% -5%, 90% -18%, 90% 51%, 78% 70%);
    clip-path: polygon(79% -5%, 90% -18%, 90% 51%, 78% 70%);
    filter: blur(8px);
}

#ui .text:nth-child(17) .text_inner1 {
    -webkit-animation: vertical 1250ms 66ms ease-in-out infinite alternate;
    animation: vertical 1250ms 66ms ease-in-out infinite alternate;
}

#ui .text:nth-child(17) .text_inner2 {
    -webkit-animation: horizontal 1520ms 95ms ease-in-out infinite alternate;
    animation: horizontal 1520ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(18) {
    color: #5228fa;
    -webkit-clip-path: polygon(83% -4%, 94% -13%, 92% 54%, 84% 65%);
    clip-path: polygon(83% -4%, 94% -13%, 92% 54%, 84% 65%);
    filter: blur(-8px);
}

#ui .text:nth-child(18) .text_inner1 {
    -webkit-animation: vertical 1579ms 68ms ease-in-out infinite alternate;
    animation: vertical 1579ms 68ms ease-in-out infinite alternate;
}

#ui .text:nth-child(18) .text_inner2 {
    -webkit-animation: horizontal 1631ms 94ms ease-in-out infinite alternate;
    animation: horizontal 1631ms 94ms ease-in-out infinite alternate;
}

#ui .text:nth-child(19) {
    color: #ba28d6;
    -webkit-clip-path: polygon(88% -1%, 99% -1%, 100% 53%, 89% 67%);
    clip-path: polygon(88% -1%, 99% -1%, 100% 53%, 89% 67%);
    filter: blur(-6px);
}

#ui .text:nth-child(19) .text_inner1 {
    -webkit-animation: vertical 790ms 74ms ease-in-out infinite alternate;
    animation: vertical 790ms 74ms ease-in-out infinite alternate;
}

#ui .text:nth-child(19) .text_inner2 {
    -webkit-animation: horizontal 1172ms 30ms ease-in-out infinite alternate;
    animation: horizontal 1172ms 30ms ease-in-out infinite alternate;
}

#ui .text:nth-child(20) {
    color: #b5285a;
    -webkit-clip-path: polygon(94% -2%, 105% -3%, 104% 51%, 94% 74%);
    clip-path: polygon(94% -2%, 105% -3%, 104% 51%, 94% 74%);
    filter: blur(-5px);
}

#ui .text:nth-child(20) .text_inner1 {
    -webkit-animation: vertical 1405ms 95ms ease-in-out infinite alternate;
    animation: vertical 1405ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(20) .text_inner2 {
    -webkit-animation: horizontal 1276ms 98ms ease-in-out infinite alternate;
    animation: horizontal 1276ms 98ms ease-in-out infinite alternate;
}

#ui .text:nth-child(21) {
    color: #af2897;
    -webkit-clip-path: polygon(-1% 48%, 6% 32%, 8% 104%, -2% 123%);
    clip-path: polygon(-1% 48%, 6% 32%, 8% 104%, -2% 123%);
    filter: blur(-8px);
}

#ui .text:nth-child(21) .text_inner1 {
    -webkit-animation: vertical 1149ms 2ms ease-in-out infinite alternate;
    animation: vertical 1149ms 2ms ease-in-out infinite alternate;
}

#ui .text:nth-child(21) .text_inner2 {
    -webkit-animation: horizontal 777ms 42ms ease-in-out infinite alternate;
    animation: horizontal 777ms 42ms ease-in-out infinite alternate;
}

#ui .text:nth-child(22) {
    color: #da28e5;
    -webkit-clip-path: polygon(4% 47%, 13% 39%, 14% 101%, 3% 109%);
    clip-path: polygon(4% 47%, 13% 39%, 14% 101%, 3% 109%);
    filter: blur(7px);
}

#ui .text:nth-child(22) .text_inner1 {
    -webkit-animation: vertical 1206ms 6ms ease-in-out infinite alternate;
    animation: vertical 1206ms 6ms ease-in-out infinite alternate;
}

#ui .text:nth-child(22) .text_inner2 {
    -webkit-animation: horizontal 1295ms 82ms ease-in-out infinite alternate;
    animation: horizontal 1295ms 82ms ease-in-out infinite alternate;
}

#ui .text:nth-child(23) {
    color: #4728e7;
    -webkit-clip-path: polygon(8% 47%, 18% 33%, 18% 105%, 8% 106%);
    clip-path: polygon(8% 47%, 18% 33%, 18% 105%, 8% 106%);
    filter: blur(-4px);
}

#ui .text:nth-child(23) .text_inner1 {
    -webkit-animation: vertical 1288ms 13ms ease-in-out infinite alternate;
    animation: vertical 1288ms 13ms ease-in-out infinite alternate;
}

#ui .text:nth-child(23) .text_inner2 {
    -webkit-animation: horizontal 1065ms 34ms ease-in-out infinite alternate;
    animation: horizontal 1065ms 34ms ease-in-out infinite alternate;
}

#ui .text:nth-child(24) {
    color: #f8286b;
    -webkit-clip-path: polygon(14% 45%, 23% 46%, 21% 105%, 13% 116%);
    clip-path: polygon(14% 45%, 23% 46%, 21% 105%, 13% 116%);
    filter: blur(7px);
}

#ui .text:nth-child(24) .text_inner1 {
    -webkit-animation: vertical 857ms 13ms ease-in-out infinite alternate;
    animation: vertical 857ms 13ms ease-in-out infinite alternate;
}

#ui .text:nth-child(24) .text_inner2 {
    -webkit-animation: horizontal 1021ms 37ms ease-in-out infinite alternate;
    animation: horizontal 1021ms 37ms ease-in-out infinite alternate;
}

#ui .text:nth-child(25) {
    color: #e12869;
    -webkit-clip-path: polygon(19% 46%, 29% 43%, 29% 103%, 19% 103%);
    clip-path: polygon(19% 46%, 29% 43%, 29% 103%, 19% 103%);
    filter: blur(-9px);
}

#ui .text:nth-child(25) .text_inner1 {
    -webkit-animation: vertical 1671ms 38ms ease-in-out infinite alternate;
    animation: vertical 1671ms 38ms ease-in-out infinite alternate;
}

#ui .text:nth-child(25) .text_inner2 {
    -webkit-animation: horizontal 836ms 89ms ease-in-out infinite alternate;
    animation: horizontal 836ms 89ms ease-in-out infinite alternate;
}

#ui .text:nth-child(26) {
    color: #702850;
    -webkit-clip-path: polygon(24% 45%, 35% 35%, 32% 101%, 24% 128%);
    clip-path: polygon(24% 45%, 35% 35%, 32% 101%, 24% 128%);
    filter: blur(-3px);
}

#ui .text:nth-child(26) .text_inner1 {
    -webkit-animation: vertical 1598ms 85ms ease-in-out infinite alternate;
    animation: vertical 1598ms 85ms ease-in-out infinite alternate;
}

#ui .text:nth-child(26) .text_inner2 {
    -webkit-animation: horizontal 1044ms 13ms ease-in-out infinite alternate;
    animation: horizontal 1044ms 13ms ease-in-out infinite alternate;
}

#ui .text:nth-child(27) {
    color: #fd2880;
    -webkit-clip-path: polygon(28% 45%, 38% 46%, 39% 104%, 28% 107%);
    clip-path: polygon(28% 45%, 38% 46%, 39% 104%, 28% 107%);
    filter: blur(0px);
}

#ui .text:nth-child(27) .text_inner1 {
    -webkit-animation: vertical 940ms 50ms ease-in-out infinite alternate;
    animation: vertical 940ms 50ms ease-in-out infinite alternate;
}

#ui .text:nth-child(27) .text_inner2 {
    -webkit-animation: horizontal 898ms 45ms ease-in-out infinite alternate;
    animation: horizontal 898ms 45ms ease-in-out infinite alternate;
}

#ui .text:nth-child(28) {
    color: #cd28d5;
    -webkit-clip-path: polygon(33% 49%, 44% 23%, 45% 104%, 33% 117%);
    clip-path: polygon(33% 49%, 44% 23%, 45% 104%, 33% 117%);
    filter: blur(-6px);
}

#ui .text:nth-child(28) .text_inner1 {
    -webkit-animation: vertical 1239ms 45ms ease-in-out infinite alternate;
    animation: vertical 1239ms 45ms ease-in-out infinite alternate;
}

#ui .text:nth-child(28) .text_inner2 {
    -webkit-animation: horizontal 1104ms 95ms ease-in-out infinite alternate;
    animation: horizontal 1104ms 95ms ease-in-out infinite alternate;
}

#ui .text:nth-child(29) {
    color: #4128b4;
    -webkit-clip-path: polygon(39% 47%, 46% 27%, 47% 105%, 39% 129%);
    clip-path: polygon(39% 47%, 46% 27%, 47% 105%, 39% 129%);
    filter: blur(-4px);
}

#ui .text:nth-child(29) .text_inner1 {
    -webkit-animation: vertical 744ms 7ms ease-in-out infinite alternate;
    animation: vertical 744ms 7ms ease-in-out infinite alternate;
}

#ui .text:nth-child(29) .text_inner2 {
    -webkit-animation: horizontal 902ms 34ms ease-in-out infinite alternate;
    animation: horizontal 902ms 34ms ease-in-out infinite alternate;
}

#ui .text:nth-child(30) {
    color: #74286a;
    -webkit-clip-path: polygon(43% 48%, 55% 29%, 54% 102%, 43% 117%);
    clip-path: polygon(43% 48%, 55% 29%, 54% 102%, 43% 117%);
    filter: blur(-4px);
}

#ui .text:nth-child(30) .text_inner1 {
    -webkit-animation: vertical 1232ms 49ms ease-in-out infinite alternate;
    animation: vertical 1232ms 49ms ease-in-out infinite alternate;
}

#ui .text:nth-child(30) .text_inner2 {
    -webkit-animation: horizontal 929ms 53ms ease-in-out infinite alternate;
    animation: horizontal 929ms 53ms ease-in-out infinite alternate;
}

#ui .text:nth-child(31) {
    color: #cc28e6;
    -webkit-clip-path: polygon(49% 47%, 58% 34%, 57% 102%, 48% 106%);
    clip-path: polygon(49% 47%, 58% 34%, 57% 102%, 48% 106%);
    filter: blur(6px);
}

#ui .text:nth-child(31) .text_inner1 {
    -webkit-animation: vertical 1570ms 52ms ease-in-out infinite alternate;
    animation: vertical 1570ms 52ms ease-in-out infinite alternate;
}

#ui .text:nth-child(31) .text_inner2 {
    -webkit-animation: horizontal 1291ms 89ms ease-in-out infinite alternate;
    animation: horizontal 1291ms 89ms ease-in-out infinite alternate;
}

#ui .text:nth-child(32) {
    color: #b4286c;
    -webkit-clip-path: polygon(54% 48%, 64% 37%, 65% 104%, 53% 103%);
    clip-path: polygon(54% 48%, 64% 37%, 65% 104%, 53% 103%);
    filter: blur(9px);
}

#ui .text:nth-child(32) .text_inner1 {
    -webkit-animation: vertical 1574ms 51ms ease-in-out infinite alternate;
    animation: vertical 1574ms 51ms ease-in-out infinite alternate;
}

#ui .text:nth-child(32) .text_inner2 {
    -webkit-animation: horizontal 1492ms 17ms ease-in-out infinite alternate;
    animation: horizontal 1492ms 17ms ease-in-out infinite alternate;
}

#ui .text:nth-child(33) {
    color: #cf28f5;
    -webkit-clip-path: polygon(58% 49%, 69% 40%, 66% 103%, 58% 118%);
    clip-path: polygon(58% 49%, 69% 40%, 66% 103%, 58% 118%);
    filter: blur(1px);
}

#ui .text:nth-child(33) .text_inner1 {
    -webkit-animation: vertical 1264ms 100ms ease-in-out infinite alternate;
    animation: vertical 1264ms 100ms ease-in-out infinite alternate;
}

#ui .text:nth-child(33) .text_inner2 {
    -webkit-animation: horizontal 939ms 34ms ease-in-out infinite alternate;
    animation: horizontal 939ms 34ms ease-in-out infinite alternate;
}

#ui .text:nth-child(34) {
    color: #e42845;
    -webkit-clip-path: polygon(64% 49%, 73% 45%, 75% 105%, 63% 127%);
    clip-path: polygon(64% 49%, 73% 45%, 75% 105%, 63% 127%);
    filter: blur(8px);
}

#ui .text:nth-child(34) .text_inner1 {
    -webkit-animation: vertical 1583ms 55ms ease-in-out infinite alternate;
    animation: vertical 1583ms 55ms ease-in-out infinite alternate;
}

#ui .text:nth-child(34) .text_inner2 {
    -webkit-animation: horizontal 1668ms 96ms ease-in-out infinite alternate;
    animation: horizontal 1668ms 96ms ease-in-out infinite alternate;
}

#ui .text:nth-child(35) {
    color: #632899;
    -webkit-clip-path: polygon(68% 49%, 79% 33%, 78% 103%, 69% 105%);
    clip-path: polygon(68% 49%, 79% 33%, 78% 103%, 69% 105%);
    filter: blur(3px);
}

#ui .text:nth-child(35) .text_inner1 {
    -webkit-animation: vertical 1595ms 39ms ease-in-out infinite alternate;
    animation: vertical 1595ms 39ms ease-in-out infinite alternate;
}

#ui .text:nth-child(35) .text_inner2 {
    -webkit-animation: horizontal 961ms 8ms ease-in-out infinite alternate;
    animation: horizontal 961ms 8ms ease-in-out infinite alternate;
}

#ui .text:nth-child(36) {
    color: #d6283c;
    -webkit-clip-path: polygon(73% 45%, 81% 49%, 83% 105%, 73% 121%);
    clip-path: polygon(73% 45%, 81% 49%, 83% 105%, 73% 121%);
    filter: blur(-5px);
}

#ui .text:nth-child(36) .text_inner1 {
    -webkit-animation: vertical 732ms 73ms ease-in-out infinite alternate;
    animation: vertical 732ms 73ms ease-in-out infinite alternate;
}

#ui .text:nth-child(36) .text_inner2 {
    -webkit-animation: horizontal 1433ms 38ms ease-in-out infinite alternate;
    animation: horizontal 1433ms 38ms ease-in-out infinite alternate;
}

#ui .text:nth-child(37) {
    color: #72283f;
    -webkit-clip-path: polygon(79% 46%, 87% 36%, 89% 102%, 78% 107%);
    clip-path: polygon(79% 46%, 87% 36%, 89% 102%, 78% 107%);
    filter: blur(-5px);
}

#ui .text:nth-child(37) .text_inner1 {
    -webkit-animation: vertical 726ms 18ms ease-in-out infinite alternate;
    animation: vertical 726ms 18ms ease-in-out infinite alternate;
}

#ui .text:nth-child(37) .text_inner2 {
    -webkit-animation: horizontal 757ms 83ms ease-in-out infinite alternate;
    animation: horizontal 757ms 83ms ease-in-out infinite alternate;
}

#ui .text:nth-child(38) {
    color: #cf2891;
    -webkit-clip-path: polygon(83% 49%, 92% 34%, 94% 103%, 84% 108%);
    clip-path: polygon(83% 49%, 92% 34%, 94% 103%, 84% 108%);
    filter: blur(-5px);
}

#ui .text:nth-child(38) .text_inner1 {
    -webkit-animation: vertical 920ms 20ms ease-in-out infinite alternate;
    animation: vertical 920ms 20ms ease-in-out infinite alternate;
}

#ui .text:nth-child(38) .text_inner2 {
    -webkit-animation: horizontal 1383ms 47ms ease-in-out infinite alternate;
    animation: horizontal 1383ms 47ms ease-in-out infinite alternate;
}

#ui .text:nth-child(39) {
    color: #ab2862;
    -webkit-clip-path: polygon(88% 47%, 99% 35%, 97% 103%, 89% 129%);
    clip-path: polygon(88% 47%, 99% 35%, 97% 103%, 89% 129%);
    filter: blur(-9px);
}

#ui .text:nth-child(39) .text_inner1 {
    -webkit-animation: vertical 1337ms 98ms ease-in-out infinite alternate;
    animation: vertical 1337ms 98ms ease-in-out infinite alternate;
}

#ui .text:nth-child(39) .text_inner2 {
    -webkit-animation: horizontal 888ms 6ms ease-in-out infinite alternate;
    animation: horizontal 888ms 6ms ease-in-out infinite alternate;
}

#ui .text:nth-child(40) {
    color: #aa28ac;
    -webkit-clip-path: polygon(93% 48%, 102% 24%, 105% 104%, 94% 108%);
    clip-path: polygon(93% 48%, 102% 24%, 105% 104%, 94% 108%);
    filter: blur(-3px);
}

#ui .text:nth-child(40) .text_inner1 {
    -webkit-animation: vertical 1595ms 78ms ease-in-out infinite alternate;
    animation: vertical 1595ms 78ms ease-in-out infinite alternate;
}

#ui .text:nth-child(40) .text_inner2 {
    -webkit-animation: horizontal 1637ms 8ms ease-in-out infinite alternate;
    animation: horizontal 1637ms 8ms ease-in-out infinite alternate;
}

#ui .text:nth-child(41) {
    color: #5e28bf;
    -webkit-clip-path: polygon(-2% 98%, 9% 99%, 7% 155%, -2% 158%);
    clip-path: polygon(-2% 98%, 9% 99%, 7% 155%, -2% 158%);
    filter: blur(9px);
}

#ui .text:nth-child(41) .text_inner1 {
    -webkit-animation: vertical 1301ms 32ms ease-in-out infinite alternate;
    animation: vertical 1301ms 32ms ease-in-out infinite alternate;
}

#ui .text:nth-child(41) .text_inner2 {
    -webkit-animation: horizontal 1467ms 24ms ease-in-out infinite alternate;
    animation: horizontal 1467ms 24ms ease-in-out infinite alternate;
}

@-webkit-keyframes horizontal {
    0% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(-6px);
    }
}

@keyframes horizontal {
    0% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(-3px);
    }
}

@-webkit-keyframes vertical {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

@keyframes vertical {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

/*media queries*/
@media (max-width: 650px) {
    #ui .text {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (max-width: 650px) {
    .set-size {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media (max-width: 650px) {
    .info {
        display: unset;
    }

    .description {
        width: auto;
        padding: 15px;
    }

    .avatar {
        margin: auto;
    }
}

/*galleria proyects*/
.cards {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    min-height: 100vh;

    font-size: 15pt;



}

.box {

    position: relative;

    width: 300px;

    height: 300px;

    display: flex;

    justify-content: center;

    align-items: center;

    margin: 0px 40px 40px 40px;

    background: #060c21;

    transition: 0.5s;

}

.box:hover {

    height: 400px;

}

.box .imgbox {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    padding: 10px;

    box-sizing: border-box;

}

.box .imgbox img {

    max-width: 100%;



    transition: 0.5s;

}

.box:hover .imgbox img {

    opacity: 1;

}

.box:before {

    content: '';

    position: absolute;

    top: -2px;

    left: -2px;

    right: -2px;

    bottom: -2px;

    background: #fff;

    z-index: -1;

}

.box:after {

    content: '';

    position: absolute;

    top: -2px;

    left: -2px;

    right: -2px;

    bottom: -2px;

    background: #fff;

    z-index: -2;

    filter: blur(40px)
}

.box:before,

.box:after {

    background: linear-gradient(235deg, #da28e5, #010615, #d9286d);

}

:before,



:after {
    background: linear-gradient(235deg, #3c28fd, #00bce4, #fbff00);
}



:before,



:after {
    background: linear-gradient(235deg, #822866, #015615, #2196f3);
}

.box .content {

    position: absolute;

    bottom: 0;

    left: 10px;

    right: 10px;

    bottom: 10px;

    height: 90px;

    background: rgba(0, 0, 0, 0.4);

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    transition: 0.5s;

}

.box:hover .content {

    opacity: 1;



}

.box .content h2 {

    font-size: 24px;

    color: #fff;

    font-weight: 500;

    line-height: 20px;

    letter-spacing: 1px;

}

.box .content h2 span {

    font-size: 14px;

    color: #fff;

    font-weight: 200;

    letter-spacing: 1px;
}

.title3 {
    font-weight: 200;
    color: transparent;
    font-size: 90px;
    background: url(./imagenes/pawel-czerwinski-Z06Aa4W20fY-unsplash.jpg) repeat;
    background-position: 0% 200%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 9rem;
    letter-spacing: -8px;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
    font-family: 'Dosis', sans-serif;

}

/*CONTACT*/
#contact {
    background-color: #000000;
    background-image: linear-gradient(180deg, #000000 0%, #FFFFFF 19%);

}

.img-contact {
    width: 10rem;
    height: 5rem;
    margin: 50px;
}

.imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}